<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>cnode</title>
	<link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
	<link rel="stylesheet" href="/stylesheets/common.css">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/jquery.atwho.css">
	<script src='/jquery.js'></script>
	<script src='/bootstrap/js/bootstrap.js'></script>
</head>
<body>

	<div class="navbar"><% include navbar.html %></div>
	<div id="main"><%- body %></div>
</body>
</html>


